DEBUG=True

# Deployment SERVER address
SERVER=.appseed.us

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# For MySql Persistence
# DB_ENGINE=mysql
# DB_NAME=appseed_db
# DB_HOST=localhost
# DB_PORT=3306
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass

# Used for Image Upload
# FTP_UPLOAD=True
# upload_cloud_type=storages.backends.ftp.FTPStorage
# ftp_username   = <FTP_USER>
# ftp_password   = <FTP_PASS>
# ftp_server_url = <FTP_SERVER_IP>
# ftp_port       = <FTP_SERVER_PORT>
# upload_url     = <WWW_ROOT_FOR_IMAGES>

# The presence enables the GH Social login
# GITHUB_ID=<GITHUB_ID_HERE>
# GITHUB_SECRET=<GITHUB_SECRET_HERE>

# The presence enables the Twitter Social login
# TWITTER_ID=<TWITTER_ID_HERE>
# TWITTER_SECRET=<TWITTER_SECRET_HERE>
