{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">User Profile</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">User</a></li>
                                            <li class="breadcrumb-item"><a href="#!">Profile</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-lg-4">
                                <div class="card user-card user-card-1">
                                    <div class="card-body pb-0">
                                        <div class="float-end">
                                            <span class="badge badge-success">Pro</span>
                                        </div>
                                        <div class="media user-about-block align-items-center mt-0 mb-3">
                                            <div class="position-relative d-inline-block">
                                                <img class="img-radius img-fluid wid-80"
                                                    src="{% if user.image %}{{user.image}}{% else %}
                                                            {{ ASSETS_ROOT }}/images/user/avatar-5.jpg
                                                        {% endif %}" alt="User image">
                                                <!--        
                                                <div class="certificated-badge btn">     
                                                </div>-->       
                                            </div>
                                            <div class="media-body ms-3">
                                                <h6 class="mb-1">
                                                    {{ user.username }} {% if user.provider %} <span> (via {{ user.provider }}) </span>{% endif %}
                                                </h6>
                                                <p class="mb-0 text-muted">
                                                    {{ user.fullname }}
                                                </p>
                                                <i class="feather icon-edit text-black" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <span class="f-w-500"><i class="feather icon-mail m-r-10"></i>Email</span>
                                            <a href="mailto:{{ user.email }}" class="float-end text-body">
                                                {{ user.email }}
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="f-w-500"><i
                                                    class="feather icon-phone-call m-r-10"></i>Phone</span>
                                            <a href="#" class="float-end text-body">{{ user.phone }}</a>
                                        </li>
                                        <li class="list-group-item border-bottom-0">
                                            <span class="f-w-500"><i
                                                    class="feather icon-globe m-r-10"></i>Website</span>
                                            <span class="float-end">{{ user.website }}</span>
                                        </li>
                                    </ul>
                                    <div class="card-body">
                                        <br />    
                                    </div>
                                    <div class="nav flex-column nav-pills list-group list-group-flush list-pills"
                                        id="user-set-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link list-group-item list-group-item-action active"
                                            id="user-set-profile-tab" data-bs-toggle="pill" href="#user-set-profile"
                                            role="tab" aria-controls="user-set-profile" aria-selected="true">
                                            <span class="f-w-500"><i class="feather icon-user m-r-10 h5 "></i>Profile
                                                Overview</span>
                                            <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                        </a>
                                        {% if not user.login_with_oauth or user.email != '' %}
                                        <a class="nav-link list-group-item list-group-item-action"
                                            id="user-set-passwort-tab" data-bs-toggle="pill" href="#user-set-passwort"
                                            role="tab" aria-controls="user-set-passwort" aria-selected="false">
                                            <span class="f-w-500"><i class="feather icon-shield m-r-10 h5 "></i>Change
                                                Password</span>
                                            <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="tab-content bg-transparent p-0 shadow-none" id="user-set-tabContent">

                                    <div class="tab-pane fade show active" id="user-set-profile" role="tabpanel"
                                        aria-labelledby="user-set-profile-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5><i class="feather icon-user text-c-blue wid-20"></i><span
                                                        class="p-l-5">About me</span></h5>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    {{ user.bio }}
                                                </p>
                                                <h5 class="mt-5 mb-3">Personal Details</h5>
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="">Full Name</td>
                                                            <td class="">:</td>
                                                            <td class="">{{ user.fullname }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="">Address</td>
                                                            <td class="">:</td>
                                                            <td class="">{{ user.address }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="">Zip Code</td>
                                                            <td class="">:</td>
                                                            <td class="">{{ user.zipcode }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="">Phone</td>
                                                            <td class="">:</td>
                                                            <td class="">{{ user.phone}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="">Email</td>
                                                            <td class="">:</td>
                                                            <td class=""> {{ user.email }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="">Website</td>
                                                            <td class="">:</td>
                                                            <td class="">
                                                                {% if user.website and user.website|length > 1 %}
                                                                    <a target="_blank" href="{{ user.website }}">{{ user.website }}</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <!-- Education -->

                                            </div>
                                        </div>
                                        {% if not request.user.is_superuser %}
                                        <div class="card">
                                                <div class="card-header">
                                                    <h5>
                                                        <i class="feather icon-trash-2 text-c-blue wid-20"></i>
                                                        <span class="p-l-5">Delete Account</span>
                                                    </h5>
                                                    <p class="text-sm mb-0">
                                                        Once you delete your account, there is no going back.
                                                        Please be certain.
                                                    </p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between mb-3 mt-4">
                                                        <div class="form-group mb-0 d-flex">
                                                            <div class="align-items-center d-flex switch switch-danger d-inline m-r-10">
                                                                <input type="checkbox" id="switch-delete-account">
                                                                <label for="switch-delete-account" class="cr"></label>
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-center mt-3">
                                                                <label for="switch-delete-account"><span class="text-dark fw-bold"> Confirm </span> </label>
                                                                <p class="text-dark">I want to delete my account.</p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-end">
                                                            <form id="delete-form">
                                                                <input disabled id="btn-delete-account" class="btn btn-danger" type="submit" value="Delete Account" >
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div id="deleteAlert" class="d-none alert alert-danger">Alert</div>
                                                    </div>
                                                </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if not user.login_with_oauth or user.email != '' %}
                                    <div class="tab-pane fade" id="user-set-passwort" role="tabpanel"
                                        aria-labelledby="user-set-passwort-tab">
                                        <div class="card">
                                            <form id="changepass-form" action="/change_password/" method="post">{% csrf_token %}
                                            <div class="card-header">
                                                <h5>
                                                    <i class="feather icon-shield text-c-blue wid-20"></i>
                                                    <span class="p-l-5">Change Password</span>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">New Password <span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="password" id="new_password1" name="new_password1" class="form-control"
                                                                    placeholder="Enter New password">
                                                                <button class="btn btn-outline-success show-pass-btn" type="button" id="button-addon2">
                                                                    <i id="show-pass-icon" class="feather icon-eye m-0"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Confirm Password <span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="password" id="new_password2" name="new_password2" class="form-control"
                                                                    placeholder="Enter your password again">
                                                                <button class="btn btn-outline-success copy-pass-btn" type="button" id="button-addon2">
                                                                    <i class="feather icon-copy m-0"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="changepassAlert" class="d-none alert alert-danger">Alert</div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-end">
                                                <input class="btn btn-danger" type="submit" value="Change Password" >
                                                <button class="btn btn-outline-dark ms-2">Clear</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form class="form">{% csrf_token %}
      <div class="modal-body" id="form">
          <div class="d-flex flex-wrap p-2 gap-3">
              {% if user.login_with_oauth and user.email == '' %}
                  <div class="alert alert-warning alert-dismissible fade show col-12" role="alert">
                      Please add your email address.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}

              <div class="d-flex flex-column">
                  <img src="{% if user.image%}{{user.image}}{% else %}{{ ASSETS_ROOT }}/images/user/avatar-5.jpg{% endif %}" class="img-radius img-fluid wid-80" id="avatar-img" />
                  <input type="file" id="avatar-input" name="avatar-input" accept="image/*">
              </div>
              <div>
                  <label for="fullname">FullName</label>
                  <input class="form-control" id="fullname" name="fullname" />
              </div>
              <div>
                  <label for="bio">Bio</label>
                  <input class="form-control" id="bio" name="bio" />
              </div>
              <div>
                  <label for="email">Email</label>
                  <input  {% if not user.login_with_oauth or user.email %}readonly{% endif %} class="form-control" id="email" name="email" />
              </div>
              <div>
                  <label for="phone">Phone</label>
                  <input class="form-control" id="phone" name="phone" />
              </div>
              <div>
                  <label for="website">Website</label>
                  <input class="form-control" id="website" name="website" />
              </div>
              <div>
                  <label for="zipcode">Zipcode</label>
                  <input class="form-control" id="zipcode" name="zipcode" />
              </div>
              <div class="flex-grow-1">
                  <label for="address">Address</label>
                  <input class="form-control" id="address" name="address" />
              </div>
          </div>
      </div>
        <div id="err_status" class="alert alert-danger m-3 p-2 d-none"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary submit-btn" value="Save Changes">
      </div>
        </form>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{{ ASSETS_ROOT }}/js/data.js"></script>
<script>

    setStaticAddress('{{ ASSETS_ROOT }}');

    setUser(
        {{% for key, val in user.items %}
            '{{ key }}': '{{ val }}',
          {% endfor %}}
    );

    function editData ()  {
        const array = ['username','provider' , 'login_with_oauth','image']
        for (const item in user) {
            if (!array.includes(item))
                document.getElementById(item).value = user[item]
        }
    }

    editData()

    document.getElementsByClassName('form')[0].onsubmit = (e) => {
        e.preventDefault()

        fetch (`/user_profile/`, {
            method: "POST",
            body: new FormData( document.getElementsByClassName('form')[0] ),
        })
            .then((response) => {
                if(!response.ok) {
                    return response.text().then(text => { throw new Error(text) })
                } else {
                    return response.text()
                }
            })
            .then((result) => {
                location.reload()
            })
            .catch((err) => {
                const err_status = document.querySelector('#err_status')
                const error = JSON.parse(err.toString().replace('Error: ','')).errors
                err_status.innerHTML = error
                //for (let e in error)
                //    alert.innerHTML += e + ": " + error[e] + "\n"
                err_status.className = err_status.className.replace('d-none','d-block')
            })
    }

    if ( !!document.getElementById('changepass-form') ) {
        document.getElementById('changepass-form').onsubmit = (e) => {
            e.preventDefault();
            const alert = document.getElementById('changepassAlert')
            alert.textContent = ''
            fetch('/change_password/', {
                method: 'POST',
                body: new FormData(e.target)
            })
                .then((response) => {
                    if (!response.ok) {
                        return response.text().then(text => {
                            throw new Error(text)
                        })
                    } else {
                        return response.text()
                    }
                })
                .then((result) => {
                    alert.classList.remove('d-none','alert-danger')
                    alert.classList.add('alert-success')
                    alert.textContent = 'changed password successfully!'
                })
                .catch((err) => {
                    const errors = JSON.parse(err.toString().replace('Error: ', '')).message
                    alert.classList.remove('d-none','alert-success')
                    alert.classList.add('alert-danger')
                    if (typeof errors === 'object')
                        for (const key in errors)
                            alert.textContent += key + ": " + errors[key]
                    else
                        alert.textContent = errors
                })
        }

        let isHidden = true
        document.querySelector('.show-pass-btn').addEventListener('click' , (e) => {
            const pass1 = document.querySelector('#new_password1')

            const type = isHidden ? 'text' : 'password';
            isHidden = !isHidden
            pass1.setAttribute('type',type)

            const pass2 = document.querySelector('#new_password2')
            pass2.setAttribute('type',type)

            document.querySelector('#show-pass-icon').className = isHidden ? "feather m-0 icon-eye" : "feather m-0 icon-eye-off"
        })

        document.querySelector('.copy-pass-btn').addEventListener('mouseup' , (e) => {
            document.querySelector('#new_password2').value = document.querySelector('#new_password1').value

        })
    }

    if ( !!document.getElementById('delete-form')) {
        document.getElementById('delete-form').onsubmit = (e) => {
            const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
            e.preventDefault();
            const alert = document.getElementById('deleteAlert')
            alert.textContent = ''
            fetch('/delete_account/', {
                method: 'DELETE',
                headers: {'X-CSRFToken': csrfToken}
            })
                .then((response) => {
                    if (!response.ok) {
                        return response.text().then(text => {
                            throw new Error(text)
                        })
                    } else {
                        return response.text()
                    }
                })
                .then((result) => {
                    location.reload()
                    if (!alert.classList.contains('d-none'))
                        alert.classList.add('d-none')
                })
                .catch((err) => {
                    const errors = JSON.parse(err.toString().replace('Error: ', ''))
                    alert.classList.remove('d-none')
                    for (const key in errors)
                        alert.textContent += key + ": " + errors[key]
                })
        }

        document.getElementById('switch-delete-account').onchange = (e) => {
            document.getElementById('btn-delete-account').disabled = !e.target.checked
        }
    }
    document.getElementById('avatar-input').onchange = (e) => {
        document.getElementById('avatar-img').setAttribute('src', URL.createObjectURL(e.target.files[0]))
    }

</script>

{% endblock javascripts %}
