{% extends "layouts/base.html" %}

{% block title %} UI Elements Treeview {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <!-- jstree css -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/plugins/vanillatree.css">

{% endblock stylesheets %}

{% block content %}	

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Tree View</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Advance Components</a></li>
                                    <li class="breadcrumb-item"><a href="#!">Tree View</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-primary" role="alert">
                                    <p>Use our extra helper file for quick setup Advance Components in your page - <a href="index-ac-package.html" target="_blank" class="alert-link">CHECKOUT</a></p>
                                    <label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
                                </div>
                            </div>
                            <!-- [ treeview ] start -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>HTML Demo</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="tree-demo">
                                        </div>
                                        <p id="tree-msg"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- [ treeview ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- jstree Js -->
<script src="{{ ASSETS_ROOT }}/js/plugins/vanillatree.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/pages/ac-treeview.js"></script>

{% endblock javascripts %}

